
<form action="/login" method="post">
      
    <input type="email" name="email" id="email" required placeholder="enter your e-mail">
    <input type="password" name="password" id="password" required placeholder="enter your password">
    <input type="submit" value="Signin">


</form>
