<form action="/register" method="post">
    <input type="text" name="name" required placeholder="enter your name">
    <input type="email" name="email" required placeholder="enter your e-mail">
    <input type="password" name="password" required placeholder="enter your password">
<input type="submit" value="signup">


</form>
